<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" th:href="@{/css/markdown-webstorm.css}">
  <link rel="stylesheet" th:href="@{/css/combine.css}">

  <title>研修期間各手順書</title>
  <style>

  </style>
</head>

<body>
  <div class="layout">
    <div class="sidebar">
      <div class="task-section">
        <div class="task-header task-A" onclick="toggleSection(this)">
          <i class="ms-Icon ms-Icon--Document"></i>
          <span>A課題</span>
        </div>
        <div class="task-content">
          <div th:each="doc : ${markdowns}" th:if="${doc.task == 'A'}">
            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              onclick="loadContent(this.getAttribute('data-file-id')); return false;">
            </a>
          </div>
        </div>
      </div>

      <div class="task-section">
        <div class="task-header task-B" onclick="toggleSection(this)">
          <i class="ms-Icon ms-Icon--Document"></i>
          <span>B課題</span>
        </div>
        <div class="task-content">
          <div th:each="doc : ${markdowns}" th:if="${doc.task == 'B'}">
            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              onclick="loadContent(this.getAttribute('data-file-id')); return false;">
            </a>
          </div>
        </div>
      </div>

      <div class="task-section">
        <div class="task-header task-Spring" onclick="toggleSection(this)">
          <i class="ms-Icon ms-Icon--Document"></i>
          <span>SpringBoot課題</span>
        </div>
        <div class="task-content">
          <div th:each="doc : ${markdowns}" th:if="${doc.task == 'SpringBoot'}">
            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              onclick="loadContent(this.getAttribute('data-file-id')); return false;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="edit-button-container">
        <button class="edit-button" onclick="goToEditor()">編集</button>
      </div>
      <div class="markdown-container">
        <div id="content" th:fragment="content" th:utext="${content}">
          top
        </div>
      </div>
    </div>
  </div>

  <button class="back-to-top">トップ</button>

  <script>
    let currentFileId = "";
    
    function toggleSection(element) {
      const content = element.nextElementSibling;
      content.style.display = content.style.display === 'none' ? 'block' : 'none';
    }

    function loadContent(fileId) {
      currentFileId = fileId;
      fetch(`/${fileId}`, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
        .then(response => response.text())
        .then(html => {
          document.getElementById('content').innerHTML = html;
        })
        .catch(error => console.error('Error:', error));
    }

    function goToEditor() {      
      if (currentFileId) {
        window.location.href = `/edit/${currentFileId}`;
      }
    }

    //back to topボタン
    const backToTopButton = document.querySelector('.back-to-top');
    const mainContent = document.querySelector('.main-content')

    mainContent.addEventListener('scroll', () => {

      const scrollPosition = document.querySelector('.main-content').scrollTop;

      if (scrollPosition > 100) {
        backToTopButton.classList.add('visible');
      } else {
        backToTopButton.classList.remove('visible');
      }
    });


    backToTopButton.addEventListener('click', () => {
      document.querySelector('.main-content').scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });

    

  </script>
</body>

</html>