<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Markdown Editor</title>
  <meta charset="UTF-8">
  <link rel="icon" href="data:,">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/codemirror/codemirror.min.css" rel="stylesheet">
  <link href="/lib/codemirror/theme/vscode-dark.css" rel="stylesheet">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
    .container-fluid {
      height: 100%;
    }
    .row {
      height: calc(100% - 2rem);
    }
    .col-12 {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  </style>
</head>

<body style="overflow: hidden">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1>編集: <span th:text="${fileName}"></span></h1>
          <input type="hidden" id="fileId" th:value="${fileId}">
          <div>
            <button id="saveBtn" class="btn btn-primary">保存</button>
            <a href="/management" class="btn btn-secondary">back</a>
          </div>
        </div>
        <textarea id="editor" th:text="${content}"></textarea>
      </div>
    </div>
  </div>

  <script src="/lib/codemirror/codemirror.min.js"></script>
  <script src="/lib/codemirror/mode/markdown/markdown.min.js"></script>
  <script>
    // エディター初期化
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      mode: 'markdown',
      theme: 'dark',
      lineNumbers: true,
      lineWrapping: true,
      height: "auto"
    });
    editor.setSize("100%", "calc(100% - 60px)");

    // セーブ機能
    document.getElementById("saveBtn").addEventListener("click", function () {
      const commitMessasge = window.prompt("コミットメッセージを入力してください：");
      if (commitMessasge === null) {
        return;
      }

      const content = editor.getValue();
      const fileId = document.getElementById("fileId").value;

      const jsonData = {
        fileId: fileId,
        content: content,
        commitMessage: commitMessasge,
      }

      fetch("/save", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(jsonData)
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok')
          }
          return response.json();
        })
        .then(result => {
          alert("保存成功");
        })
        .catch(error => {
          alert("保存失敗：" + error);
        });
    });
  </script>
</body>

</html>