<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <title>Markdown Editor</title>
    <meta charset="UTF-8">
    <link rel="icon" href="data:,">
    <link href="/lib/codemirror/codemirror.min.css" rel="stylesheet">
    <link href="/lib/codemirror/theme/vscode-dark.css" rel="stylesheet">
    <link href="/css/editor/editor.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <div class="editor-card">
        <div class="editor-header">
            <div class="header-title">
                <h1 class="title-text">編集: <span th:text="${editObject.fileName}"></span></h1>
                <input type="hidden" id="fileNo" th:value="${editObject.fileNo}">
                <div class="button-container">
                    <button id="save" class="save-button">保存</button>
                    <button id="close" class="close-button" onclick="window.close()">閉じる</button>
                </div>
            </div>

            <div class="property-card">
                <div class="details-container">
                    <div class="details-row">
                        <label>
                            <span>ファイルID：</span>
                            <input class="details" id="fileId" th:value="${editObject.fileId}">
                            <span id="fileId--error" class="error"></span>
                        </label>
                        <label>
                            <span>ファイル名：</span>
                            <input class="details" id="fileName" th:value="${editObject.fileName}">
                            <span id="fileName--error" class="error"></span>
                        </label>
                    </div>

                    <div class="details-row">
                        <div class="task-selection">
                            <label>
                                <span>所属課題：</span>
                                <select id="task" name="task">
                                    <option th:value="${editObject.task}" th:text="${editObject.task}"></option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="SpringBoot">SpringBoot</option>
                                </select><br>
                                <span id="task--error" class="error"></span>
                            </label>
                        </div>
                        <label>
                            <span>順番：</span>
                            <input class="details" id="sortOrder" type="number" th:value="${editObject.sortOrder}">
                            <span id="sortOrder--error" class="error"></span>
                        </label>

                    </div>

                    <div class="details-row">
                        <label>
                            <span>作成者：</span>
                            <input class="details" id="author" th:value="${editObject.author}">
                            <span id="author--error" class="error"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="editor-content">
            <textarea id="editor" th:text="${content}"></textarea>
        </div>
    </div>
</div>

<script src="/lib/codemirror/codemirror.min.js"></script>
<script src="/lib/codemirror/mode/markdown/markdown.min.js"></script>
<script src="/js/editor/main.js"></script>

<script>
    function closeWindow() {
        window.close();
    }
</script>
</body>
</html>