<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/indexMenu.css}">
  <link rel="icon" href="data:,">
  <meta charset="UTF-8">

  <title>各手順書一覧</title>
</head>

<body>
  <div class="header">
        <div class="user-info">
            <span th:text="'ユーザーID: ' + ${userId}">ユーザーID:admin</span> <a
                href="/logout" class="logout-btn">ログアウト</a>
        </div>
    </div>
    <div class="title">
    <h1 class="title"><b>研修期間各手順書一覧</b></h1>
    
    
    <!-- A課題ファイル -->
    <div class="task-section">
      <div class="task-header task-A" onclick="toggleSection(this)">
        A課題
      </div>
      <div class="task-content">
        <ul class="markdown-list">
          <li th:each="doc : ${markdowns}" th:if="${doc.task == 'A'}" class="markdown-item">
            <a th:href="@{/{fileId}(fileId=${doc.fileId})}" th:text="${doc.fileName}" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- B課題ファイル -->
    <div class="task-section">
      <div class="task-header task-B" onclick="toggleSection(this)">
        B課題
      </div>
      <div class="task-content">
        <ul class="markdown-list">
          <li th:each="doc : ${markdowns}" th:if="${doc.task == 'B'}" class="markdown-item">
            <a th:href="@{/{fileId}(fileId=${doc.fileId})}" th:text="${doc.fileName}" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- SpringBoot課題ファイル -->
    <div class="task-section">
      <div class="task-header task-Spring" onclick="toggleSection(this)">
        SpringBoot課題
      </div>
      <div class="task-content">
        <ul class="markdown-list">
          <li th:each="doc : ${markdowns}" th:if="${doc.task == 'SpringBoot'}" class="markdown-item">
            <a th:href="@{/{fileId}(fileId=${doc.fileId})}" th:text="${doc.fileName}" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>

    <script>
      function toggleSection(header) {
        header.classList.toggle('collapsed');
        const content = header.nextElementSibling;
        if (header.classList.contains('collapsed')) {
          content.style.maxHeight = '0';
        } else {
          content.style.maxHeight = content.scrollHeight + 'px';
        }
      }
    </script>
</body>

</html>