<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" th:href="@{/css/homepage.css}">
  <link rel="stylesheet" th:href="@{/css/markdown.css}">


  <title>研修期間各手順書</title>
  <style>

  </style>
</head>
<body>
<!--<script src="/js/size-monitor.js"></script>-->

  <div class="layout">
    <div class="sidebar">

      <div class="task-section">

        <div class="task-header task-A" onclick="toggleSection(this)">
          <i class="ms-Icon ms-Icon--Document"></i>
          <span>A課題</span>
        </div>
        <div class="task-content">
          <div class="each-content" th:each="doc : ${markdowns}" th:if="${doc.task == 'A'}">
            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              onclick="loadContent(this.getAttribute('data-file-id')); return false;">
            </a>
          </div>
        </div>

        <div class="task-header task-B" onclick="toggleSection(this)">
          <i class="ms-Icon ms-Icon--Document"></i>
          <span>B課題</span>
        </div>
        <div class="task-content">
          <div class="each-content" th:each="doc : ${markdowns}" th:if="${doc.task == 'B'}">
            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              onclick="loadContent(this.getAttribute('data-file-id')); return false;">
            </a>
          </div>
        </div>

        <div class="task-header task-Spring" onclick="toggleSection(this)">
          <i class="ms-Icon ms-Icon--Document"></i>
          <span>SpringBoot課題</span>
        </div>
        <div class="task-content">
          <div class="each-content" th:each="doc : ${markdowns}" th:if="${doc.task == 'SpringBoot'}">
            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              onclick="loadContent(this.getAttribute('data-file-id')); return false;">
            </a>
          </div>
        </div>
      </div>

      <div class="edit-button-container">
        <button class="edit-button" onclick="showLogin()">+ 新規登録・編集</button>
      </div>
    </div>

    <div class="main-content">
      <div class="markdown-container">
        <div id="content" th:fragment="content">
          <div th:utext="${content}">
            top
          </div>
        </div>
      </div>
    </div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
          <div class="form-group">
            <label for="username">管理者ID：</label>
            <input type="text" id="username" name="username" th:field="*{username}">
          </div><br>

          <div class="form-group">
            <label for="password">パスワード：</label>
            <input type="password" id="password" name="password" th:field="*{password}">
          </div>

          <div class="errorMessage" id="errorMessage" th:if="${errorMessage != null}">
            <span th:text="${errorMessage}"></span>
          </div>

          <div class="button-group">
            <button id="cancel-btn" onclick="closeLogin()" type="button">キャンセル</button>
            <button id="login-btn" type="submit">登録</button>
          </div>
        </form>

      </div>
    </div>
  </div>

  <button class="back-to-top" type="button" aria-label="トップへ戻る">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
              d="M12 4 L3 13 L6 13 L12 7 L18 13 L21 13 Z"
              fill="currentColor"
              stroke="none"
      />
      <line
              x1="3"
              y1="20"
              x2="21"
              y2="20"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
      />
    </svg>
  </button>

  <script th:inline="javascript">

    let currentFileId = "";

    function toggleSection(element) {
      const content = element.nextElementSibling;
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    }

    function loadContent(fileId) {
      currentFileId = fileId;
      fetch(`/content/${fileId}`, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
        .then(response => response.text())
        .then(content => {
          const contentDiv = document.getElementById('content');
          contentDiv.innerHTML = content;
        })
        .catch(error => console.error('Error:', error));

      backToTop();
    }

    /* 登録システムｂｔｎ*/
    function showLogin() {
      const sessionData = /*[[${session.username}]]*/ null;
      if (sessionData == null) {
        document.getElementById('loginModal').style.display = 'block';
        document.getElementById('username').focus();

        document.getElementById('username').value = '';
        document.getElementById('password').value = '';
        document.getElementById('errorMessage').style.display = 'none';
      } else {
        window.location.href = "/management";
      }
    }

    /*ログインキャンセル*/
    function closeLogin() {
      document.getElementById('loginModal').style.display = 'none';
    }

    /* back to topボタン */
    const backToTopButton = document.querySelector('.back-to-top');
    const mainContent = document.querySelector('.main-content')

    mainContent.addEventListener('scroll', () => {

      const scrollPosition = document.querySelector('.main-content').scrollTop;

      if (scrollPosition > 100) {
        backToTopButton.classList.add('visible');
      } else {
        backToTopButton.classList.remove('visible');
      }
    });

    function backToTop() {
      document.querySelector('.main-content').scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    }

    backToTopButton.addEventListener('click', backToTop);

  </script>
</body>

</html>