<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="UTF-8">
  <title>研修用書類管理</title>
  <link rel="stylesheet" th:href="@{/css/management.css}">
</head>

<body>
  <div class="layout">
    <nav class="top-nav">
      <div class="menu-icon">☰</div>
      <div class="logo">研修用書類管理</div>
<!--      <div class="search-bar">-->
<!--        <input type="text" class="search-input" placeholder="手順書のタイトルを入力してください">-->
<!--      </div>-->
      <div class="user-controls">
        <span class="user-name" th:text="${username}">username</span>
        <button class="logout-button" onclick="logout()">ログアウト</button>
      </div>
    </nav>

    <div class="sidebar">
      <div class="sidebar-item" id="toHomepage" onclick="goToHomepage()">研修生用ページへ</div>
      <div class="sidebar-item">手順書一覧</div>
      <div class="sidebar-item">課題一覧（作成中）</div>
    </div>

    <div class="main-content">
      <div class="content-header">
        <h1>手順書一覧</h1>
      </div>

      <div class="tabs">
        <div class="tab active" data-task="A">A課題</div>
        <div class="tab" data-task="B">B課題</div>
        <div class="tab" data-task="SpringBoot">SpringBoot課題</div>
      </div>

      <div class="task-content" id="content">
        <!-- A課題表示 -->
        <div id="A-content" class="tab-content active">
          <div class="file-name" th:each="doc : ${markdowns}" th:if="${doc.task == 'A'}">
            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              th:onclick="showDetails([[${doc.fileId}]])">
            </a>

            <div class="file-detail" th:id="${doc.fileId}">
              <div class="details-container">
                <div class="details-row">
                  <label>ファイルID：</label>
                  <span class="details" th:text="${doc.fileId}"></span>
                </div>
                <div class="details-row">
                  <label>作成者：</label>
                  <span class="details" th:text="${doc.author}"></span>
                </div>
                <div class="details-row">
                  <label>作成時間：</label>
                  <span class="details" th:text="${doc.uploadTime}"></span>
                </div>
                <div class="details-row">
                  <label>修正時間：</label>
                  <span class="details" th:text="${doc.updateTime}"></span>
                </div>
              </div>
              <div>
                <button class="edit-button" onclick="goToEditor(this)">+ 編集</button>
              </div>
              <div>
                <button class="history-button" onclick="goToHistory(this)">+ 履歴</button>
              </div>
            </div>

          </div>
        </div>

        <!-- B課題表示 -->
        <div id="B-content" class="tab-content">
          <div class="file-name" th:each="doc : ${markdowns}" th:if="${doc.task == 'B'}">

            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              th:onclick="showDetails([[${doc.fileId}]])">
            </a>

            <div class="file-detail" th:id="${doc.fileId}">
              <div class="details-container">
                <div class="details-row">
                  <label>ファイルID：</label>
                  <span class="details" th:text="${doc.fileId}"></span>
                </div>
                <div class="details-row">
                  <label>作成者：</label>
                  <span class="details" th:text="${doc.author}"></span>
                </div>
                <div class="details-row">
                  <label>作成時間：</label>
                  <span class="details" th:text="${doc.uploadTime}"></span>
                </div>
                <div class="details-row">
                  <label>修正時間：</label>
                  <span class="details" th:text="${doc.updateTime}"></span>
                </div>
              </div>
              <div>
                <button class="edit-button" onclick="goToEditor(this)">+ 編集</button>
              </div>
              <div>
                <button class="history-button" onclick="goToHistory(this)">+ 履歴</button>
              </div>
            </div>

          </div>
        </div>

        <!-- SpringBoot課題表示 -->
        <div id="SpringBoot-content" class="tab-content">
          <div class="file-name" th:each="doc : ${markdowns}" th:if="${doc.task == 'SpringBoot'}">
            <a class="content-link" th:data-file-id="${doc.fileId}" th:text="${doc.fileName}"
              th:onclick="showDetails([[${doc.fileId}]])">
            </a>

            <div class="file-detail" th:id="${doc.fileId}">
              <div class="details-container">
                <div class="details-row">
                  <label>ファイルID：</label>
                  <span class="details" th:text="${doc.fileId}"></span>
                </div>
                <div class="details-row">
                  <label>作成者：</label>
                  <span class="details" th:text="${doc.author}"></span>
                </div>
                <div class="details-row">
                  <label>作成時間：</label>
                  <span class="details" th:text="${doc.uploadTime}"></span>
                </div>
                <div class="details-row">
                  <label>修正時間：</label>
                  <span class="details" th:text="${doc.updateTime}"></span>
                </div>
              </div>
              <div>
                <button class="edit-button" onclick="goToEditor(this)">+ 編集</button>
              </div>
              <div>
                <button class="history-button" onclick="goToHistory(this)">+ 履歴</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // タブの切り替え
    document.addEventListener('DOMContentLoaded', function () {
      const tabs = document.querySelectorAll('.tab');
      const contents = document.querySelectorAll('.tab-content');

      tabs.forEach(tab => {
        tab.addEventListener('click', () => {
          // すべてのactiveタグを削除
          tabs.forEach(t => t.classList.remove('active'));
          // 現在のタブにactive
          tab.classList.add('active');

          // すべての内容を隠す
          contents.forEach(content => content.classList.remove('active'));
          // タブ内容を表示
          const task = tab.getAttribute('data-task');
          document.getElementById(`${task}-content`).classList.add('active');
        });
      });
    });

    function showDetails(fileId) {
      const element = document.getElementById(fileId);
      const currentDisplay = getComputedStyle(element).display;
      element.style.display = currentDisplay === 'none' ? 'block' : 'none';
    }

    function showFileDetails(fileId) {
      document.querySelectorAll('.content-link').forEach(link => {
        link.classList.remove('selected');
      });
      event.target.classList.add('selected');
    }

    /* リダイレクト用function */
    function goToEditor(element) {
      let fileId = element.closest('.file-detail').id;
      if (fileId) {
        window.open(`/edit/${fileId}`, '_blank');
      }
    }

    function goToHistory(element) {
      let fileId = element.closest('.file-detail').id;
      if (fileId) {
        window.open(`/history/${fileId}`, '_blank');
      }
    }

    function goToHomepage() {
      window.open(`/`);
    }

    function logout() {
      window.location.href = `/logout`;
    }
  </script>
</body>

</html>